@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/* ======================================================================================================================== Reset */

html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,img,form,lLato,table,tbody,tr,th,td,blockquote,header,
section,footer{margin:0px;padding:0px;border:none;}

/* ======================================================================================================================== Redefined tags */

/* Document */
html{overflow-y: scroll;}
html,body{height:100%}
body{background: #ECF0F1 url() repeat-x; color: #000; font-family: 'Lato', sans-serif;}
::-moz-selection { background: #111; color: #fff; text-shadow: none; }
::selection { background: #111; color: #fff; text-shadow: none; }

/* Headings */
h1{
	font-size: 1.5em; color: #111; 
	font-family: 'Lato', sans-serif; 
	font-weight: normal; 
	border-bottom: solid 1px #ccc; 
	padding-bottom: 10px;
	margin-bottom: 40px}
h2{font-size: 1.2em; font-family: 'Lato', sans-serif; font-weight: normal;margin-bottom: 20px}
h3{font-size: 1em; font-family: 'Lato', sans-serif; font-weight: bold}
h4{font-size: 1em; font-family: 'Lato', sans-serif; font-weight: normal}
h5{font-size: 1em; font-family: 'Lato', sans-serif; font-weight: normal}
h6{font-size: 1em; font-family: 'Lato', sans-serif; font-weight: normal}

/* Paragraph */
p{margin: 10px 0px;}

/* Links */
a{
	outline: none; color:#222; 
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;		
}
a:hover, 
a:active {color:#444;}
a.button_old{background: #c80101; color: #000; border-radius: 3px }

/* Lists styles */
ul{padding-left: 20px; margin: 10px}
ul li{}
ol{padding-left: 20px; margin: 10px}
ol li{}

hr{ border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
hr.style-six { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

small{
	font-size: 0.8em;
	line-height: 1.3em !important;
	display: block !important;
	margin: 20px 0px;
}


.spaced li{
	margin-bottom: 10px
}

.deactivated,
.deactivated *{color: #ddd}

.pointer{cursor: pointer}

/* Forms */

form.inline{display: inline; vertical-align: baseline  !important;}

.form2{}
.form2 input[type='text']{
	    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	margin: 0px;
	padding: 7px 2%;
	width: 100%;
	border: none;
	border-radius: 3px;
	border: solid 1px #ccc
}
.form2 textarea{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;	
	margin: 0px;
	padding: 7px 2%;
	width: 100%;
	border: none;
	border-radius: 3px;
	border: solid 1px #ccc	
}

.form2 .fields li{padding: 2px 0px}

/* ========================================================================================================================  */

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Tables Styles */
table{width: 100%}
tr{}
th,td{vertical-align: top}

table.admin-table{
	margin: 0px 0px 20px 0px;
	border-collapse:collapse;
}
table.admin-table tr{}
table.admin-table tr:hover{background: #fcfcfc}
table.admin-table tr.active{background: #fdfde5}
table.admin-table tr .edit{visibility: hidden; display: block; float: right; }
table.admin-table tr:hover .edit{visibility: visible}
table.admin-table th{
	color: #111;
	font-size: .65em;
	text-align: left; border: solid 1px #ccc;
	text-shadow: 0px 1px 0px #fff;
	padding: 0px 5px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

table.admin-table td{
	padding: 5px;
	font-size: .75em;
	border-bottom: solid 1px #ccc
}

table.queue .check,
table.queue .checked{display: block; width: 20px; height: 20px;}
table.queue tr:hover .check{background: url(images/sprite_checks.png) 0px 0px no-repeat}
table.queue tr:hover .check:hover{background-position: -20px 0px}
table.queue .checked,
table.queue tr:hover .checked{background: url(images/sprite_checks.png) -40px 0px no-repeat}
table.queue .checked:hover,
table.queue tr:hover .checked:hover{background: url(images/sprite_checks.png) -40px 0px no-repeat}
table.queue tr.disabled{
-webkit-box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.4);
box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.4);
border-right: solid 1px rgba(0,0,0,.4);
border-left: solid 1px rgba(0,0,0,.4);
	background: #eee; color: #ccc}
table.queue tr.disabled + tr.disabled{-webkit-box-shadow: none;box-shadow:none}

table.form_table{
	margin: 0px 0px 20px 0px;
	border-collapse:collapse;
}
table.form_table td{padding: 5px; margin: 5px; font-size: .75em}




.div_table{border-top: solid 1px #ccc;border-right: solid 1px #ccc; border-radius: 5px}
.div_table .row{border-bottom: solid 1px #ccc}
.div_table .row:before, .div_table .row:after { content: ""; display: table; }
.div_table .row:after { clear: both; }
.div_table .row { *zoom: 1; }
.div_table .col{border-left: solid 1px #ccc; float: left}


.grey-button{
	display:-moz-inline-stack;display:inline-block;
	vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;
	padding:10px 30px;
	font-family: 'Lato', sans-serif;
	text-decoration:none;text-align:center;line-height:1em;
	cursor:pointer;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;
	border-radius:2px;border:1px solid #e1dfdf;background:#fefefe;
	background:-moz-linear-gradient(top,#fefefe 0,#f6f3f3 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fefefe),color-stop(100%,#f6f3f3));
	background:-webkit-linear-gradient(top,#fefefe 0,#f6f3f3 100%);background:-o-linear-gradient(top,#fefefe 0,#f6f3f3 100%);
	background:-ms-linear-gradient(top,#fefefe 0,#f6f3f3 100%);background:linear-gradient(to bottom,#fefefe 0,#f6f3f3 100%);
	color:#818181}
.grey-button:hover{background-image:none;background-color:#f6f3f3}


.orange_button{font-size: .70em; vertical-align:middle; padding: 5px 15px; background: orange; color: white; text-decoration: none; border-radius: 5px; }
.orange_button:hover{ color: white}

.pay_button{
	border: none;
	cursor: pointer;
	font-size: .70em; vertical-align:middle; padding: 5px 15px; background: #cc0000; color: white; text-decoration: none; border-radius: 5px; }
.pay_button:hover{ color: white; backgroxund: red}

.display_none{display: none}


.em-button, .em-button.white {
    display: inline-block;
    box-sizing: content-box !important;
    height: 28px;
    padding: 0px 15px;
    border: 1px solid #ECECEC;
    border-radius: 3.01px;
    margin: 5px 10px 5px 0px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
    background: -moz-linear-gradient(center top , #FFF 0px, #FCFCFC 2%, #ECECEC 100%) repeat scroll 0% 0% transparent;
    color: #333;
    font: 400 13px/28px Helvetica,Arial,sans-serif;
    text-decoration: none;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
}

.em-button.large {
    line-height: 33px;
    height: 33px;
    font-size: 16px;
}

.em-button.yellow {
    border-color: #FFBA00;
    color: #000;
    background: -moz-linear-gradient(center top , #FFF 0px, #FFE6A0 2%, #FFBA00 100%) repeat scroll 0% 0% transparent;
   
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(center top,  #ffffff 0%, #ffe6a0 2%, #ffba00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#ffe6a0), color-stop(100%,#ffba00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffe6a0 2%,#ffba00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffe6a0 2%,#ffba00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffe6a0 2%,#ffba00 100%); /* IE10+ */
	background: linear-gradient(top bottom,  #ffffff 0%,#ffe6a0 2%,#ffba00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE6A0', endColorstr='#ffba00',GradientType=0 ); /* IE6-9 */
    
}

.em-button.yellow:hover, .em-button.yellow:focus {
    border-color: #F1AF05;
    color: #000;
    background: -moz-linear-gradient(center top , #FFEDBA 0px, #FFDE76 2%, #F1AF05 100%) repeat scroll 0% 0% transparent;
}


.add-new-button{
	margin-left: 4px;
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: 0px none;
	border-radius: 2px;
	background: none repeat scroll 0% 0% #E0E0E0;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
}

.add-new-button:hover{
	background: none repeat scroll 0% 0% #2EA2CC;
	color: #FFF;
}


.accent_button{
    padding: 15px 5px;
	height: auto;
	width: 100%;
	line-height: 40px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	border-style: solid;
	border-color: #444645;
	border-top-color: #8BBE33;
	border-right-color: #6B9E13;
	border-bottom-color: #6B9E13;
	border-left-color: #8BBE33;
	border-width: 1px;
	background: none repeat scroll 0% 0% #444645;
	background: none repeat scroll 0% 0% #6B9E13;
	color: #fff;
	border-radius: 3px;
	box-sizing: border-box;
    text-decoration: none;	
	cursor: pointer;
	display: inline-block;
	text-align: center
}
.accent_button .fa{
	font-size: 16px; padding-left: 10px;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;	
}
.accent_button:hover{
	border-color: #7BAE23;
	background: none repeat scroll 0% 0% #8BBE33;
	color: #FFF;
	font-size: 17px;
}
.accent_button:hover .fa{font-size: 19px;padding-left: 30px;}

/* =========================================================================================== Forms */

.form1{font-size: .75em}
.form1 ul{padding: 0px; margin: 0px; list-style: none;}
.form1 .fields lLato{float: left; width: 25%; font-weight: bold}
.form1 .fields .value{float: left; width: 75%}
.form1 li:before, .form1 li:after { content: ""; display: table; }
.form1 li::after { clear: both; }
.form1 li { *zoom: 1; }

#cs_overlay{position:fixed; top:0px; left: 0px; z-index:100; height: 100%; width: 100%; background: rgba(255,255,255,.7); }
#cs_overlay .cs_boundary{width: 90%; margin: 0px auto; max-width: 900px; height: 90%; padding: 0px; padding-top: 2.5%}
#cs_overlay .cs_content_box{
	background: #fff; 
	padding: 0px; 
	height: 99%; border-radius: 5px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
	overflow: auto;	
	}
#cs_overlay .cs_content{height: 95%; overflow: auto; font-size: .75em; line-height: 1.4em}

/* ======================================================================================================================== Global Styles */



.spin {
	-webkit-animation: cssAnimation 1s infinite linear;
	-moz-animation: cssAnimation 1s infinite linear;
	-o-animation: cssAnimation 1s infinite linear;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px); }
to { -webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px); }
to { -moz-transform: rotate(360deg) scale(1) skew(0deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px); }
to { -o-transform: rotate(360deg) scale(1) skew(0deg) translate(0px); }
}



/* === */


/* Global Classes */
.clear{clear:both}
.floatleft{float: left}
.floatright{float: right}
.floatnone{float: none}
.hideSpan span{display:none}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.container{width: 960px; margin: 0px auto}
.container{width: 96%; margin: 0px auto}
.alignright{text-align: right}
.alignleft{text-align: left}
.center{text-align: center}
.valign-middle{}
.fixed{position: fixed}
.form_footer{padding: 0px 20px}
.form_footer a{font-size: .75em}
.transition{
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;	
}
.display_block{display: block}
.display_inline_block{display: inline-block}
	
	
#errors{margin-bottom: 20px}
#errors .container{width: auto; font-size: .8em}
.errors{
	margin: 0px; 
	list-style: none; 
	background: #f59898;
	border: solid 1px red; 
	border-radius: 5px; 
	padding: 10px 10px}

#alerts{margin-bottom: 20px}
#alerts .container{width: auto; font-size: .8em}
.alerts{
	margin: 0px; 
	color: rgba(0,0,0,.7);
	list-style: none; 
	background: #88d075;
	border: solid 1px green; 
	border-radius: 5px; 
	padding: 10px 10px}
.field-error{color: red; background: rgba(255,0,0,.2); font-size: .75em; border: solid 1px red; padding: 0px 4px; border-radius: 4px; display: block; margin: 4px 0px}

.alert{
	font-family: 'Lato', sans-serif;
	font-size: .7em;
	font-weight: bold;
	line-height: 15px;
	height: 15px;
	color: white;
	padding: 10px 15px ;
	background: #dd0000;
	display: inline-block !important;
	margin: 10px 0px 0px 0px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	vertical-align: baseline  !important;
}
.alert:hover{color: #fff; background: red}

.yellow_alert{
	display: block;
	background: #f1f100;
	border-radius: 3px;
	padding: 5px 20px;
	text-decoration:  none
}

.yellow_alert:hover{background: #ffff00;}


/* Header */
#header{
	background: #1E2226; 
	color: #eee; 
	padding: 0px 0px; 
	margin-bottom: 0px}
#header .container{}
#header a{color: #ccc}

a#logo{color: #fff; text-decoration: none; padding: 0px 0px 0px 0px;margin: 0px 40px 0px 0px; display:inline-block; line-height: 40px; float: left}
#logo{}
#logo img{max-height: 40px; width: auto}


/* Nav */

#header .menu{list-style: none; margin: 0px; padding: 0px; display: block; height: 50px;}
#header .menu li{float: left;
	border-right: solid 1px #000; }
#header .menu li a{
	color: #eee; 
	display: block; 
	padding: 0px 15px; 
	height: 50px; 
	text-decoration: none; 
	font-size: .8em;
	line-height: 50px}
#header .menu li a:hover{color: #fff;  background: #333}

#header .menu li.logo {padding-right: 40px !important; display: inline-block}
#header .menu li.logo a{padding:0px}
#header .menu li.logo a:hover{background: none}
#header .menu li.logo img{vertical-align: middle}

#header .menu .icon{display: none}

#header_links{line-height: 50px}
#header_links a{font-size: .8em;}

#subnav{background: #fff; padding: 10px 0px; font-size: .8em;
-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
	}
#subnav a{text-decoration: none}
#subnav a:hover{text-decoration: underline}

/* Content */

#content{padding: 40px 0px 180px 0px}
#container{
	position: relative; min-height: 100%;  }

/* ========================================================================================================================  Layout > Column Spans */
.full{width: 100%}
.third1{width: 33.3333333333%}
.third2{width: 66.6666666666%}
.third3{width: 100%}
.half{width: 50%}
.quarter1{width: 25%}
.quarter2{width: 50%}
.quarter3{width: 75%}
.quarter4{width: 100%}
.eigth1{width: 12.5%}
.eigth2{width: 25%}
.eigth3{width: 37.5%}
.eigth4{width: 50%}
.eigth5{width: 62.5%}
.eigth6{width: 75%}
.eigth7{width: 87.5%}
.eigth8{width: 100%}

/* Registration Page */

#register_form ul{padding: 0px; margin: 0px; list-style: none}

.registration_form{width: 400px; margin:0px auto}
.registration_form form{background: #eee; padding: 20px; border: solid 1px #ccc;border-radius: 2px}
.registration_form .registration_form_text{text-align: center}
.registration_form input[type="text"],
.registration_form input[type="email"],
.registration_form input[type="password"]{
	width: 96%;
	height: 20px;
	border: solid 1px #ccc;
	background: #f9f9f9;
	padding: 10px 2%;
	display: block;
}
.registration_form input[type="text"]:hover,
.registration_form input[type="email"]:hover,
.registration_form input[type="password"]:hover{background: #fff}
.registration_form button[type="submit"]{background: #ddd; width: 100%; height: 40px; border: solid 1px #ccc; cursor:pointer}
.registration_form button[type="submit"]:hover{background: #eee;}

.padding10{padding: 10px}
.padding20{padding: 20px}
.padding30{padding: 30px}
.padding40{padding: 40px}
.padding60{padding: 60px}

.padded_top10{padding-top: 10px}
.padded_top20{padding-top: 20px}
.padded_top30{padding-top: 30px}
.padded_top40{padding-top: 40px}
.padded_top60{padding-top: 60px}


.padded_bottom10{padding-bottom: 10px}
.padded_bottom20{padding-bottom: 20px}
.padded_bottom30{padding-bottom: 30px}
.padded_bottom40{padding-bottom: 40px}
.padded_bottom60{padding-bottom: 60px}

.padded_right10{padding-right: 10px}
.padded_right20{padding-right: 20px}
.padded_right30{padding-right: 30px}
.padded_right40{padding-right: 40px}
.padded_right60{padding-right: 60px}

.padded_left10{padding-left: 10px}
.padded_left20{padding-left: 20px}
.padded_left30{padding-left: 30px}
.padded_left40{padding-left: 40px}
.padded_left60{padding-left: 60px}

.margin_top20{margin-top: 20px}
.margin_bottom20{margin-bottom: 20px}
.margin_top40{margin-top: 40px}

/* Login Page */
.page_login{height: 100%}
.login_form{width: 400px; margin:0px auto}
.login_form form{background: #eee; padding: 20px; border: solid 1px #ccc;border-radius: 2px}
.login_form .login_form_text{text-align: center; margin-bottom: 20px}
.login_form input[type="text"],
.login_form input[type="password"]{
	width: 96%;
	height: 20px;
	border: solid 1px #ccc;
	padding: 10px 2%;
	display: block;
}
.login_form button[type="submit"]{
	background: #ddd; 
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top,  #9dd53a 0%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9dd53a 0%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9dd53a 0%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9dd53a 0%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9dd53a 0%,#80c217 51%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	color: rgba(4,75,31,.8);
	text-shadow: 0px 1px 0px rgba(255,255,255,.6);
	font-size: 1em;
	width: 100%; height: 40px; border: solid 1px #9dd53a; cursor:pointer}
.login_form button[type="submit"]:hover{background: #97ce35;}



/* */
.edit_form{background: #eee; padding: 20px; border: solid 1px #ccc;border-radius: 2px; margin-bottom: 20px}
.edit_form .login_form_text{text-align: center; margin-bottom: 20px}
.edit_form input[type="text"],
.edit_form input[type="email"],
.edit_form input[type="phone"],
.edit_form input[type="password"]{
	width: 96%;
	height: 20px;
	border: solid 1px #ccc;
	padding: 10px 2%;
	display: block;
}
.edit_form button[type="submit"]{
	background: #ddd; 
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top,  #9dd53a 0%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9dd53a 0%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9dd53a 0%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9dd53a 0%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9dd53a 0%,#80c217 51%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	color: rgba(4,75,31,.8);
	text-shadow: 0px 1px 0px rgba(255,255,255,.6);
	font-size: 1em;
	width: 100%; height: 40px; border: solid 1px #9dd53a; cursor:pointer}
.edit_form button[type="submit"]:hover{background: #97ce35;}

.edit_form input.input_no_style{width: auto; float: none; display: inline; padding: 0px}

.box{background: #fff; border-radius: 5px; margin-bottom: 20px}
.box1{background: #eee; padding: 20px; border: solid 1px #ccc;border-radius: 2px; margin-bottom: 20px}

#payment_summary{}
#payment_summary .title{border-bottom: solid 1px #ccc;}
#payment_summary .total{padding-top: 20px;}
#payment_summary .cart_total{color: #000066; font-size: 2em; font-weight: bold}
#payment_summary .items{ border-top: solid 1px #ccc; font-size: .75em; padding:  10px 0px}
#payment_summary .accepted_payments{text-align: center; font-size: 1.5em; padding: 10px 0px 0px 0px; border-top: solid 1px #ccc}

/* */
.list{margin: 0px; padding: 0px; list-style: none}

.progress{padding: 10px 0px}
.progress ul{list-style: none; padding: 0px; margin: 0px}
.progress li{float: left; width: 30px; text-align: center}
.progress li + li{margin-left: 100px}
.progress a{text-decoration: none}
.progress .number{
	background: #fff; 
	border: solid 1px #999;
	margin: 0px auto;
	border-radius: 20px; 
	height: 20px; width: 20px; 
	text-align: center; 
	color: #999; 
	display: block; 
	font-size: 12px;
	line-height: 20px}
.progress .text{font-size: .75em}

.progress .current{}
.progress .current .number{
	background: orange; 
	border: solid 1px orange;
	margin-top: -5px;
	border-radius: 30px; 
	height: 30px; width: 30px; 
	text-align: center; 
	color: white; 
	display: block; 
	font-size: 12px;
	line-height: 30px}
	

.progress{
    position: relative;
    z-index: 1;
    

}	

   .progress:before {
        border-top: 1px solid #ccc;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 21px; left: 10px; right: auto; bottom: auto;
        width:  400px;
        z-index: -1;
    }



/*
 Chapters
 * */
.chapter-list{margin: 0px}
.chapter-list li{margin-bottom: 0px; border-bottom: solid 1px #ddd}
.chapter-list a{display: block; background: #f9fafa; color: #8D9AA5; border-radius: 0px; padding: 15px 30px;border-left: solid 15px #ccc;}
.chapter-list a:hover{background: #fff; color: #70808E;}
.chapter-list li.active{border: solid 1px red}

.inactive a{background: #f0f1f1; color: #bDcAd5; cursor: default}
.inactive a:hover{background: #f0f1f1; color: #bDcAd5;}

.status_0 a{background: #f9fafa}
.status_0 a:hover{background: #fff;}

.status_1 a{background: #f9fafa;border-left: solid 15px blue;}
.status_1 a:hover{background: #fff;border-left: solid 15px blue;}

.status_2 a{background: #f9fafa;border-left: solid 15px blue;}
.status_2 a:hover{background: #fff;border-left: solid 15px blue;}

.status_3 a{background: #fff;border-left: solid 15px green;}
.status_3 a:hover{background: #fff;}

.chapter-list a{
	
}
.course-grid:before,
.course-grid:after{
	content: ' ';
	display: block;
	clear: both;
}
.course-grid li{width: 50%;  float: left;}
.course-grid li .padding{padding: 10px}
.course-grid li .inner{background: #fff; height: 300px; border-radius: 5px;box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);}
.course-grid .course-title{height: 40px; color: white; background: #888; border-radius: 5px 5px 0px 0px; padding: 10px; font-size: 1em; line-height: 40px}
.course-grid input[type="submit"]{
	margin: 0px;
	padding: 0px;
	border: 0px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1.1em;
	cursor: pointer;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

/*
 Courses
 * */
.course-list li{margin-bottom: 5px; box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);	}
.course-list a{display: block; background: #F9FAFA; border-radius: 3px; padding: 15px 20px; border: solid 1px #ccc; border-left: solid 12px #a5d2d8; color: #555}
.course-list a:hover{background: #f6f6f6; border-left: solid 12px #6aabb4; color: #000}
.content.course-content h3{font-size: 1.5em !important; font-weight: bold !important; margin-bottom: 15px !important}

.course-list .course_failed a{border-left: solid 12px red; background: #ffd1d1}
.course-list .course_passed a{border-left: solid 12px green; background: #e6fbee}

.course-list form input[type="submit"]{
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 0px auto;
	padding: 15px 0px !important;
	text-transform: uppercase;
	cursor: pointer
}

.course-title{margin: 0px; padding-bottom: 5px; border-bottom: solid 1px #000; border-bottom: solid 1px rgba(0,0,0,.3)}
.course-details{font-size: .7em; line-height: 1.04em}

.course-list.grid li{width: 50%; float: left}
.course-list.grid li a{margin-right: 5px}

.finals a{background: blue; color: #fff}
.finals a:hover{background: #5555ff; color: #fff}

.finals .failed a{background: red}
.finals .passed a{background: green}

/* Exams */
.question_section{
	background: #eee;
	padding: 10px;
	margin: 10px 0px;
}

.question h2{
	position: relative;
}

.question_number{
	float: left;
	display: inline-block;
	margin-right: 10px;
}

.question_block{
	display: inline;
	padding-left: 0px;
}
.question_block p{margin-top: 0px}

.answers{
	background: #fff;
	padding: 10px;
}
.answers ul{margin: 0px; padding: 0px; list-style: none}

.answers .incorrect {}
.answers .incorrect .selected_answer{color: red}
.answers .incorrect .answer_status{color: red}
.answers .correct {}
.answers .correct .selected_answer{color: green}
.answers .correct .answer_status{color: green}

#packages{}
#packages > ul{list-style: none; padding: 0px; margin: 20px 0px}
#packages > ul > li{float: left; width: 25%}
#packages .outer{padding: 0px 5px 10px 5px; }
#packages .inner{
	background: #fff; padding: 0px; text-align: center; height: 360px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
	box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
	overflow: hidden
}
#packages .selected .inner{outline: solid 1px #000 }

#packages .title{
	font-size: 1em; 
	font-weight: bold; 
	letter-spacing: -1px;
	line-height: 1em; border-bottom: solid 1px #ccc; padding: 20px 0px 20px 0px}
#packages .price{
	font-size: 2em;
	letter-spacing: -2px; 
	line-height: 1em; 
	padding: 15px 0px; font-weight: 100}
#packages .description{
	background: #f0f0f0;
	padding: 10px 10px; 
	margin-top: 20px;
	font-size: .75em; line-height: 1.2em; height: 162px; overflow: auto}
#packages .description ul{list-style: none; padding: 0px; margin: 0px}
#packages .description ul li{margin: 5px 0px}

#packages .featured .inner{outline: solid 4px red;}
#packages .recommended .inner{outline: solid 4px green; position: relative; overflow: visible;border-radius: 5px 5px 0px 0px;}
#packages .recommended .title{font-size: 1.3em;}
#packages .recommended .title:before{
	content:'Recommended'; 
	display: block; 
	position: absolute;
	width: 100%;
	top: -10px;
	left: 0px;
	font-size: .5em; 
	text-transform: uppercase;
	font-weight: normal; 
	letter-spacing: normal;
	background: green; color: #fff}
#packages .recommended	.description{height: auto}
#packages .recommended .price{font-size: 2.5em;}

.order_summary{background: #eee; padding: 20px; border-radius: 5px; margin-bottom: 20px; font-size: .8em}
.order_summary h3{font-weight: bold}
.order_summary h2{font-weight: normal; margin-bottom: 20px}

/* ======================================================================================================================== Payment Forms */

#payment{}
#payment lLato{width: 250px; float: left;}


#payment_form{border: solid 1px #ccc; border-radius: 5px; padding: 20px}
#payment_form h3{font-size: 1.2em; margin-bottom: 20px}



.finals{margin-top: 0px}

.certificates{margin-top: 0px}
.certificates .time{color: #ccc; font-size: .7em; margin-right: 50px; vertical-align:middle; line-height: 1em}
.certificates a{background: green; color: white;

display: block;
border-radius: 3px;
padding: 5px 20px;

}
.certificates a:hover{background: #00ff00; color: green}

.help .row{margin-bottom: 20px}

.dashboard_alerts{margin: 20px 0px; padding: 0px; list-style: none}
.dashboard_alerts li{
	font-size: .8em;
	line-height: 1.3em;
	margin-bottom: 5px; padding: 10px; background: #ffbfbf; border-radius: 5px; border: solid 1px red}
	
	
#footer{
	background: #e3e3e3; border-top: solid 1px #ccc; font-size: .8em; line-height: 1.5em;
	width: 100%; height: 120px; 
	position: absolute; 
	bottom: 0px; left: 0px;}
	

.page_login #footer{display: none}


.content_box{
	background: white; 
	border: solid 1px #ddd; 
	border-radius: 5px; 
	margin-bottom: 30px;
	color: #8D9AA5;
	color: #666;
	
	position: relative;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);	}
.content_box a{text-decoration: none}
.content_box h2{margin-top: 0px; color: #677078;}
.content_box_header{border-bottom: solid 1px #ddd; font-size: .75em; line-height: 1.2em}	
.content_box_header h2{font-size: 2em; line-height: 1em; margin: 0px; color: #8D9AA5;}
.content_box .box_note{
	background: rgba(0,0,0,.02); 
	border: solid 1px rgba(0,0,0,.2); 
	padding: 10px; 
	font-size: .8em;
	margin-bottom: 20px;
	border-radius: 2px}
.content_box_footer{font-size: .75em; line-height: 1.1em}

.content_box_header.clickable{}
.content_box_header.clickable h2:hover{color: #222}

.survey-form tr > td,
.survey-form tr > th{
	padding: 0px 20px 0px 10px
}
.survey-form th{
	
}

.survey-form td{
	margin: 5px
}

.sidebar{font-size: .8em; line-height: 1.3em; color: #8D9AA5}
.sidebar h2{font-size: 1.5em; line-height: 1.1em; color: #6D7A85}


.signup_form input{
	border-radius: 2px;
	border: solid 1px #ccc;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
   padding: 10px;	
   width: 95%;
   max-width: 350px;
   font-size: 1em;
	transition: all 200ms ease
}

.signup_form input:focus{
	border-color: #3971b7;
}

.signup_form .submit_button{
	width: auto;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background-color: #ffa600;
	background: -moz-linear-gradient(
		top,
		#ffa600 0%,
		#ffa600 50%,
		#ffa600 50%,
		#ffa600);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffa600),
		color-stop(0.50, #ffa600),
		color-stop(0.50, #ffa600),
		to(#ffa600));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #eb9861;
	-moz-box-shadow:
		0px 2px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 2px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 2px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.3),
		0px 1px 0px rgba(255,255,255,0.2);
}
.signup_form .submit_button:hover{
	background-color: #f8ba45
}



/* ==== Overlay */

		#my_overlay{position: fixed; top:0px; left:0px; background: rgba(0,0,0,.7); width: 100%; height: 100%; display: none; z-index:200}
		#my_overlay_container{background: #fff; padding: 20px; width: 400px; margin: 100px auto 0px auto; border-radius: 3px}
		
	
/* Adjustemnts for Panels */
.workspace{background: }
.workspace .padding{padding: 20px}

#panel_left{
	width: 15%; height: 100%; 
	background: #454545; background: #384047; 
	position: absolute; 
	top: 0px; left: 0px; 
	color: #fff; text-align: left; overflow: hidden}
#panel_left a{ color: #fff}
a#toggle-left{
	color: #ccc; 
	font-size: 1.5em;
	text-decoration: none;
	text-align: right;
	margin-right: 10px;}
a#toggle-left:hover{color: #ddd; }
.menu {list-style: none; padding: 0px; margin: 0px; padding: 10px}
.menu a{text-decoration: none; }

#panel_left.collapsed a#toggle-left {
	margin-right: 0px;
    font-size: 2em;
}

#panel_left a#toggle-left .lLato{
	font-size: 12px; 
	text-decoration: none !important;
	font-weight: normal; 
	margin-right: 20px;
	vertical-align: middle
}
#panel_left.collapsed a#toggle-left .lLato{
	display: none
}

#panel_center{background: ; position: relative; padding: 0px 0 0px 15%}
#panel_right{width: 0; height: 100%; background: #f9f9f9; position: absolute; top: 0px; right: 0px; overflow: hidden}
#panel_right a{ color: #fff}
#extra-content{min-width: 200px; border-left: solid 1px #fff; height: 100%}
#content{padding: 0px 0px 121px 0px}	

.no-sidebars #content{padding: 40px 0px 180px 0px}
.no-sidebars #panel_center{padding: 0px}


a#school_resume_course{position: absolute; top: 13px; right: 10px}

/* Pagination */
.pagination{}
.pagination a{
	display: inline-block;
	margin-left: 2px;
	border-radius: 2px; 
	padding: 4px; 
	background: #f0f0f0; 
	border: solid 1px #e9e9e9;
	width: 20px;
	height: 20px; 
	text-decoration: none; 
	text-align: center;
	font-size: .8em;
	line-height: 20px
	}
.pagination a:hover{background: #f8f8f8; }

/* ======================================================================================================================== Media Queries */

/* iPad in landscape, laptops, desktops */
@media all and (max-width:1024px){



}

/* iPad in portrait */
@media all and (max-width:768px){
}

/* Kindle */
@media all and (max-width:600px){
	.fluid{width: 100% !important; float: none !important}
}

/* iPhone in landscape */
@media all and (max-width:480px){
}



/* iPhone in portrait */
@media all and (max-width:320px){

}

/* ======================================================================================================================== Style Overrides */

body {
	background: #F2F2F2 !important;
	font-family: 'Lato', sans-serif;
	color: #666;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
}

.padding20 {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1, h2, h3, h4 {
	font-weight: 300;
	color: #333;
	padding-top: 15px;
}

h1, h2, h3, h4, h5, h6, p, strong, form, input {
	font-family: 'Lato', sans-serif;
}

h1 {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

a {
    outline: none;
    text-decoration: none;
    color: #666;
}

/*------------- HEADER -------------*/

#header {
	background: #354A5C;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

#header .menu li {
	border-right: none;
}

#header .menu li.logo {
    padding-right: 25px !important;
}

#logo img {
    max-height: 33px;
    margin-left: 0px;
}

#header_links a {
    font-size: .75em;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 20px;
    transition: all .3s ease;
}

#header_links a:hover {
	background: #666;
	color: #fff;
}

/*------------- LOGIN -------------*/

.login_form {
	max-width: 100%; 
}

.login_form form {
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
    border: none;
    border-radius: 2px;
    margin-bottom: 15px;
}

.login_form input, .login_form input[type="text"], .login_form input[type="email"], .login_form input[type="password"] {
    background: #F2F2F2 !important;
    font-size: .78em;
    letter-spacing: .5px;
    border-radius: 0px;
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.login_form input[type="text"]:focus, .login_form input[type="email"]:focus, .login_form input[type="password"]:focus {
	outline: none;
	border: 1px solid #d8d8d8;
	background: #fff !important;
}

.login_form button[type="submit"] {
    background: #46BDEB;
    border: none;
    border-radius: 0px;
    color: #fff;
    text-shadow: none;
    padding: 22px;
    line-height: .2;
    font-size: .83em;
    transition: all .3s ease;
    display: block;
}

input[type="text"], input[type="email"], input[type="password"] {
    background: #F2F2F2 !important;
    color: #fff;
    border: 1px solid #efefef !important;
    padding: 13px 14px;
    font-size: .78em;
    color: #666;
    width: 288px;
    letter-spacing: .5px;
    border-radius: 0px;
    -webkit-appearance: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
	outline: none;
	border: 1px solid #d8d8d8;
	background: #fff !important;
}

button[type="submit"] {
    background: #46BDEB;
    border: none;
    border-radius: 0px;
    color: #fff;
    text-shadow: none;
    padding: 22px;
    line-height: .2;
    font-size: .83em;
    transition: all .3s ease;
}

.login_form button[type="submit"]:hover {
	background: #39a1c6;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F2F2F2 inset;
    -webkit-text-fill-color: #666 !important;
}

input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.form_footer {
    text-align: center;
    color: #d8d8d8;
}

.form_footer a {
    text-decoration: none;
    color: #666;
    padding-left: 3px;
    padding-right: 3px;
}

/*------------- SIGNUP -------------*/

form p {
    line-height: 2.4;
    font-size: .9em;
    font-weight: 300;
}

.signup_form .submit_button {
    background: #46BDEB;
    border: none;
    border-radius: 0px;
    color: #fff;
    text-shadow: none;
    padding: 18px 27px;
    line-height: .2;
    font-size: .89em;
    transition: all .3s ease;
    box-shadow: none;
    margin-top: 11px;
}

.signup_form .submit_button:hover {
	background: #39a1c6;
}

.box {
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    padding: 12px;
}

.progress {
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    margin: 0 auto;
    display: block;
    width: 420px;
}

.progress .current .number {
    background: #46BDEB;
    border: solid 1px #46BDEB;
    height: 34px;
    width: 35px;
    font-size: 15px;
    line-height: 34px;
}

.progress .number {
    height: 27px;
    width: 27px;
    line-height: 27px;
    border: 1px solid rgba(0,0,0,.1);
}

.progress .text {
    color: #666;
    position: absolute;
    margin-top: -64px;
    margin-left: -19px;
}

.progress li:nth-child(2) .text {
	margin-left: -13px;
}

.progress li:nth-child(3) .text {
	margin-left: -26px;
}

.progress li:nth-child(4) .text {
	margin-left: -36px;
}

.default .text {
	color: #aaa;
	margin-top: -62px;
}

#user_info {
    color: #666;
    line-height: 1.9;
    font-size: 0.9em;
    font-weight: 300;
}

#user_info .title {
    font-size: 1.3em;
    margin-bottom: 15px;
}

#user_info a {
	color: #666;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	font-size: .9em;
}

#user_info a small {
    font-size: .8em;
    text-align: center;
    font-weight: 400;
    display: inline-block !important;
    padding: 17px 22px;
    margin-top: 20px;
    position: relative;
    letter-spacing: .2px;
    background: #efefef;
    color: #aaa;
}

/*------------- PACKAGES -------------*/

.em-button.yellow {
    background: #46BDEB;
    border: none;
    border-radius: 0px;
    color: #fff;
    text-shadow: none;
    font-size: .8em;
    transition: all .3s ease;
    box-shadow: none;
    padding: 7px 21px;
    text-align: center;
}

.em-button.yellow:hover, .em-button.yellow:focus, .em-button.yellow:active {
    background: #39a1c6;
    color: #fff;
}

#packages > ul > li {
    float: left;
    width: 33%;
}

#packages .recommended {
	margin-top: 10px;
}

#packages .inner {
    height: auto !important;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.1);
}

#packages .outer {
	padding: 0px;
	margin: 8px;
}

#packages .recommended .inner {
	outline: none;
}

#packages .recommended .title:before {
    content: 'Recommended';
    width: 100.5%;
    top: -30px;
    font-size: .57em;
    padding: 6px 0px; 
    background: #2ecc71;
}

#packages .description p {
    line-height: 2.4;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: .2px;
}

#packages .recommended .price {
    font-size: 2em;
    letter-spacing: .1px;
}

#packages .price {
    font-size: 2em;
    letter-spacing: .1px;
}

#packages .description {
	height: auto;
}

#packages .description ul li {
    margin: 13px 0px;
    line-height: 1.5;
    letter-spacing: .3px;
}

/*------------- CART -------------*/

#payment_summary .title {
    border-bottom: solid 1px rgba(0,0,0,.1);
    padding-bottom: 10px;
}

.center a {
    text-decoration: none;
    font-size: .8em;
    letter-spacing: .1px;
    color: #fff;
    background: #46BDEB;
    padding: 10px 20px;
    margin-bottom: 22px;
    display: block;
    margin-top: 17px;
}

.center hr {
	border-bottom: none;
}

#payment_summary .accepted_payments {
    border-top: solid 1px rgba(0,0,0,.1);
}

#payment_summary .items {
    border-top: solid 1px rgba(0,0,0,.1);
    margin-top: 10px;
    padding: 10px 0px;
    line-height: 2;
}

#payment_summary .cart_total {
    color: #666;
    font-size: 2em;
    line-height: .7;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

#payment_summary .total {
    padding-top: 26px;
    padding-bottom: 6px;
}

#apply_coupon_form_button {
    background: #46BDEB;
    border: none;
    color: #fff;
    padding: 13px;
    display: inline-block;
    margin-left: -20px;
    border: 1px solid #46BDEB;
}

.quarter3 span.cart_total {
	display: block;
    margin-bottom: 22px;
}

.attention_button {
    background: #2ecc71 !important;
    border: none;
    border-radius: 0px;
    color: #fff !important;
    text-shadow: none;
    font-size: .8em;
    transition: all .3s ease;
    box-shadow: none;
    padding: 16px 30px;
    text-align: center;
}

.attention_button:hover {
	background: #26af5f !important;
}

#coupon-code {
	width: 200px;
}

#apply_coupon_form label {
	display: block;
}

.button {
    border: none;
    background: #EFEFEF;
    border-radius: 0px;
    color: #666;
}

.cs_cart_table tr {
    border-bottom: solid 1px rgba(0,0,0,.1);
}

.cs_cart_table_wrapper {
    border: none;
    border-radius: 5px;
}

.cs_cart_table th {
    font-weight: 400;
}

.cs_cart_table td {
	font-weight: 300;
}

.cs_cart_table td, .cs_cart_table th {
    text-align: left;
    padding: 17px 12px;
    vertical-align: middle;
}

td:nth-child(1), td:nth-child(2), th:nth-child(1), th:nth-child(2){
	display: none;
}

/*------------- PAYMENT -------------*/

.payment_order_summary {
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0px;
    padding: 20px;
    margin-top: 20px;
}

.payment_order_summary ul {
	padding-left: 0px;
	margin-left: 0px;
}

.payment_order_summary ul li {
	list-style: none;
	font-weight: 300;
}

.payment_order_summary ul li strong {
	font-weight: 300;
}

.payment_order_summary .price {
    font-size: 1.6em;
    padding-top: 10px;
    font-weight: 300;
    display: block;
}

#payment_form {
    border: none;
    border-radius: 5px;
    padding: 0px 20px;
}

#payment_form label {
	display: block;
}

 #payment_form strong {
	padding: 15px;
	padding-left: 0px;
}

#payment .alignright {
	text-align: left;
	padding-top: 25px;
	padding-bottom: 15px;
}

#payment_form input {
	border: 1px solid #efefef;
    border-radius: 0px;
    margin-right: 15px;
    width: 250px;
}

#payment_form h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 400;
    color: #666;
}

/*------------- FOOTER -------------*/

#footer {
    background: transparent;
    border-top: 1px solid rgba(0,0,0,.1);
    height: auto;
    text-align: center;
    color: #aaa;
}

#footer .padded_bottom40 {
	padding-bottom: 20px;
}

#footer .padded_top40 {
	padding-top: 20px;
}

#footer a {
	color: #aaa;
	text-decoration: none;
}

#payment_btn {
    margin-bottom: 30px;
    margin-top: 18px;
    display: block;
    width: 100%;
    font-size: 1em;
}

/*------------- MEDIA QUERIES -------------*/

@media screen and (max-width: 1050px) {
	#content .quarter3, #content .quarter1 {
		width: 100%;
	} 
}

@media screen and (max-width: 800px) {
	body {
		background: #fff !important;
	}
	input[type="text"], input[type="email"], input[type="password"] {
		width: 100%;
		display: block;
	}
	.login_form input[type="text"] {
		max-width: 96%;
	}
	.box {
		box-shadow: none;
	}
	.progress {
		display: none;
	}
	#user_info, #payment_summary {
		display: none;
	}
	#packages > ul > li {
		width: 100%;
	}

	#packages .recommended {
		margin-top: 30px;
	}
	h2 {
		margin-top: 0px;
	}
	h1 {
		margin-bottom: 0px;
	}
	.payment_order_summary h2 {
		margin-top: 0px;
	}
	.alignright {
	    text-align: left;
	}
	span.cart_total {
		padding-top: 15px;
	}
	.attention_button {
		display: block;
	}
	#content {
    	padding: 5px !important;
	}
	.padding20 {
		padding: 0px;
	}
	.padded_right20 {
		padding-right: 0px;
	}
	#credit-card {
		margin-bottom: 8px;
	}
	#coupon-code {
	    width: 150px;
	    display: inline-block;
	}
	#payment_form {
	    border: none;
	    border-radius: 5px;
	    padding: 0px;
	    display: block;
	    position: relative;
	}
	#footer {
		border: none;
		display: block;
		position: relative;
		background: #F2F2F2;
	}
	.login_form form {
	    background: #fff;
	    box-shadow: none;
	    padding: 30px 28px;
	    border: none;
	    border-radius: 2px;
	    margin-bottom: 15px;
	}

}